<ion-menu contentId="main-content" side="start">
  <ion-header>
    <ion-toolbar>
      <ion-title>Opciones</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item button routerLink="/tareas" routerDirection="root" (click)="closeMenu()">
        <ion-icon slot="start" name="checkbox"></ion-icon>
        <ion-label>Tareas</ion-label>
      </ion-item>
      @if (remoteConfig.enableCategories) {
        <ion-item button routerLink="/categorias" routerDirection="root" (click)="closeMenu()">
          <ion-icon slot="start" name="folder"></ion-icon>
          <ion-label>Categorías</ion-label>
        </ion-item>
      }
    </ion-list>
  </ion-content>
</ion-menu>
